body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.nav-wrapper{
  text-align: center;
  background-color: #E74C3C;
}

.label{
  color: #fff;
}

.content{
  height: 100vh;
  text-align: center;
}

.dark-mode{
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255,.7);
}

.dark-mode .nav-wrapper{
  background-color: #B03A2E;
}
